<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav>a {
            margin: 0 1.1rem;
        }

        nav>h1 {
            background-color: rgb(136, 188, 253);
        }

        ul>li {
            font-size: 2rem;
            color: rgb(243, 3, 3);
        }

        section>h3,
        p {
            font-size: 2rem;
        }

        div>label,
        input,
        textarea,
        button {
            font-size: 2rem;
            margin: 0.5rem;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <h1 style="text-align: center; font-size: 2.5rem;">Dayalbagh Educational Institute </h1>
        </nav>
        <nav>
            <a href="./../index.html" style="display: inline;">
                <h2 style="display: inline;">Home </h2>
            </a>
            <a href="./about.html" style="display: inline;  color: rgb(136, 188, 253);">
                <h2 style="display: inline;">About us</h2>
            </a>
            <a href="./contact.html" style="display: inline;">
                <h2 style="display: inline;">Contact</h2>
            </a>
        </nav>
    </header>
    <hr>
    <main>
        <section>
            <h3>About Dayalbagh Educational Institute</h3>
            <hr>
            <p>
                Founded as a primary school in 1917, and becoming a technical college in 1927 for training in
                automobile, electrical and mechanical engineering, it later developed into a Deemed University. Prof. M.
                B. Lal Sahab, a former Vice Chancellor of the Lucknow University, founded this institution.

                The foundation of DEI goes back to 1917, with the foundation of Radhasoami Educational Institute. Soon
                after Dayalbagh was founded in 1915, the Radhasoami Satsang Sabha started the Radhasoami Educational
                Institute, as a co-educational Middle School, open to all, on 1 January 1917 administered by a Managing
                Committee registered under the Societies Registration Act XXI of 1860. The institute got divided and
                also spawned new institutions. Within six months, it was raised to the level of a High School;
                Intermediate classes were started in 1922; it became a Degree College in 1947, with the introduction of
                B.Com. classes affiliated to Agra University; B.Ed. (B.T.) classes were added in 1951 and the first
                batch of B.Sc. students was sent up for the final examination in 1955.
            </p>
            <p>
                A Technical School, which later developed into a college, was started in 1927 for imparting training in
                automobile, electrical and mechanical engineering, leading to the award of diploma in the concerned
                branch of the Board of Technical Education, U.P. The Leather Working School, started in 1930, gives
                instructions in both theory and practice for manufacture of leather goods.

                To further the cause of women's education, Prem Vidyalaya was started in 1930. It is now an Intermediate
                College. The Women's Training College was established in 1947 for B.A. and B.Ed. classes. M.Ed. classes
                were added in 1958. M.A. in Psychology, English and Hindi in 1969 and M.A. (Music) in 1976. Engineering
                College, affiliated to Agra University, for the degree of B.Sc. (Engineering), was the latest (1950)
                addition to the chain of educational institutions in Dayalbagh.
            </p>
            <p>
                Dayalbagh Educational Institute was registered as a body in 1973, which integrated and brought under one
                umbrella all the educational institutions of Dayalbagh, including the School of Comparative Study of
                Religion, the School of Languages and the School of Art and Culture.

                In 1981 the Ministry of Education, Government of India, conferred the status of an institution deemed to
                be a University on the Dayalbagh Educational Institute, to implement the new program of undergraduate
                studies.

                In 2002, Professor Sant Saran Bhojwani, a plant embryologist and plant tissue culturist, took over as
                the director of DEI.

                Prof V.G. Das took over as the director of the institution after Prof. Bhojwani's retirement in 2005. He
                had his education in Dayalbagh since 1956. He did his B.Sc. Engg. in 1965 from Agra University, ranking
                I in Electrical Engineering; obtained M.Tech. degree in the same branch of engineering from IIT Kanpur
                in 1970 and Ph.D. degree from IIT Delhi in 1978.

                The institute shot into national spotlight in 2013 when Neha Sharma, a PhD. scholar was found raped and
                murdered in the nano-biotechnology lab,[1] with students protesting on the streets of Agra to demand
                justice.
            </p>
        </section>
        <section>
            <h3>Campus</h3>
            <hr>
            <p>
                The campus is situated in Dayalbagh, away from the noise of the city. It is situated at a distance of
                about two Km. from the city of Agra on its northern periphery. It is conveniently connected to the
                railway stations and bus-stands by the city bus, rickshaws, auto-rickshaws and taxies.
            </p>
            <h3>ranking</h3>
            <hr>
            <p>
                The National Institutional Ranking Framework (NIRF) ranked Dayalbagh Educational Institute in 101-150
                band overall in India,[2] 82 among universities[3] and 102 in the engineering ranking[4] in 2020.
            </p>
        </section>
    </main>
    <footer>
        <section>
            <div style="font-size: 1.5rem; text-align: center; background-color: rgba(70, 70, 70, 0.493);">
                &copy; DEI 2023
            </div>
        </section>
    </footer>
</body>

</html>